# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Jan_2021_Django\recipe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
